//GLOBAL BLOCK
.exp-page_block
	+xx
	+cf 
.exp-block__txt
	max-width: 920px
	margin: 0 auto 20px 
.exp-block__long-txt 
	padding-top: 20px
	-moz-column-count: 2
	-webkit-column-count: 2  
	column-count: 2
	+small 
		-moz-column-count: 1
		-webkit-column-count: 1
		column-count: 1
	h3 
		font-size: 32px 
		margin: 0 0 5px           
	p 
		margin: 0 0 10px 
	div h3 
		margin-top: 20px
	img 
		width: 100%
		float: right
		padding: 20px 0px 
		height: inherit 
.exp-block__title
	font-size: 38px
	+millis-bold
	margin: 0 0 5px 

.block--product-river
	.product-wrapper 
		+cf 
		+xx
		text-align: center 
		padding: 30px 50px 80px 
		border-top: 2px solid $dark 
		&:nth-of-type(1) 
			border-top: none 
			padding-top: 0px 
		h2 
			font-size: 80px 
			text-transform: uppercase
			margin: 0px 
		.product-desc 
			margin-bottom: 50px 
		+mobile 
			padding: 30px 0px 40px
			h2 
				font-size: 72px 
.block--quote
	.content 
		+xx  
		text-align: center 
		padding: 50px 0px 30px
	h6 
		text-transform: uppercase
		margin: 0 0 20px 
		font-size: 1.2em
	h3 
		margin: 0 0 20px 
		font-size: 2.7em
		+small 
			font-size: 28px 
	p 
		+millis-reg
		font-size: 18px


.block--two-up-CTA, 
.block--blog-two-up, 
.block--text-image,
.block--text-image__slideout,
.block--two-column-text,
.block--timeline
	text-align: center 
	padding: 50px 0px
	+xx
	+cf 
	background: url('../img/site-light.jpg')
	background-position: center
	background-size: contain 
	background-repeat: repeat 
	+small 
		padding: 30px 0px
	.cta.slideOut 
		+button 
		&:hover 
			background-color: $drkGreen 
			border-color: $drkGreen  
		margin: -20px 0 -20px 
		z-index: 1000 
		position: relative   
	.two-column-block
		width: 49%;
		margin-right: 1%;
		float: left
		&:nth-of-type(2)
			margin: 0 0 0 1%;
		&.text 
			ul 
				list-style: disc 
				li 
					margin-left: 40px 
		&.image,
		.cta-block__image
			+ratio(3,2)
		.contact-info-block
			padding: 0px
			margin-top: 0px 
			text-align: left 
			+desktop 
				margin-top: 40px 
			h3 
				font-size: 62px
				+desktop 
					font-size: 48px 
				text-transform: uppercase
				margin: 20px 0px  
			.cta 
				+button 
		+small
			width: 100%
			float: none;
			margin: 0 0 30px 
			.contact-info-block
				padding: 0px 20px 
			&:nth-of-type(2)
				margin: 0 0 30px 
	.content.imageRight 
		.two-column-block.image 
			float: right 
			margin: 0 0 0 1%
		.two-column-block.text 
			float: left 
			margin: 0 1% 0 0
			padding-right: 40px 
		+small
			width: 100%
			float: none;
			margin: 0 0 30px 
			.two-column-block.text 
				padding-right: 0px 
			&:nth-of-type(2)
				margin: 0 0 30px 
.block--two-column-text
	h3 
		font-size: 38px 
		margin: 0 0 5px           
	p 
		margin: 0 0 15px 
	text-align: left 
	a 
		color: $green
		+transition(all 0.4s)
		&:hover 
			color: $drkGreen  
	img 
		max-width: 100%
		height: auto 
	.two-column-block
		width: 47%
		margin-right: 3%
		float: left
		&:nth-of-type(2)
			margin: 0 0 0 3%
		+small
			width: 100%
			float: none;
			margin: 0 0 30px 
			&:nth-of-type(2)
				margin: 0 0 30px 
.block--text-image,
.block--text-image__slideout,
.block--blog-two-up,
.block--giant-text,
.block--two-column-text
	width: 100% 
	max-width: 100% 
	margin: 0px 
	.content 
		+xx 
		+cf 
.block--blog-two-up 
	.post-block 
		opacity: 1
		visibility: visible 
.block--timeline
	width: 100% 
	max-width: 100% 
	margin: 0px   
	.content 
		+xx
	.imageRight 
		
		padding: 0 40px 
		.two-column-block.image 
			float: right 
			+ratio(1,1)
		.two-column-block.text 
			float: left 
			padding-right: 40px 
		+small
			.two-column-block
				width: 100%
				float: none;
				margin: 0 0 30px 
				&:nth-of-type(2)
					margin: 0 0 30px 
.block--giant-text
	padding: 20px 0px   
	+bg-light   
	h3 
		font-size: 38px 
		margin: 0 0 5px               
	p 
		margin: 0 0 15px 
	a   
		color: $green
		+transition(all 0.4s)
		&:hover 
			color: $drkGreen  
	li 
		list-style: disc 
		margin-left: 50px
	img 
		&.alignright 
			margin: 10px 0 10px 20px
			float: right   
		&.alignleft 
		    margin: 10px 20px 10px 0
		    float: left  
	.content.two-column 
		-moz-column-count: 2
		-webkit-column-count: 2
		column-count: 2
		-webkit-column-gap: 40px       
		-moz-column-gap: 40px 
		column-gap: 40px
		+small 
			-moz-column-count: 1
			-webkit-column-count: 1
			column-count: 1
//border bottom FAIL
.block--text-image,
.block--two-column-text,
.block--giant-text,
	.content
		&.border-bottom 
			position: relative  
			&:after 
				content: '';
				left: 0px;
				bottom: 45px;
				height: 5px;
				position: absolute;
				width: 100%;
				background-image: url("../img/Line_Horizontal.png");
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;

.block--text-image__slideout  
	margin-top: -63px  
	background: none 
	.slideOut-wrapper 
		+bg-light 
		width: 100% 
		display: none 
	.content 
		+cf 
		padding: 40px 0px 20px
.block--contact-form,
.block--mailchimp
	.two-column-block, .one-column-block
		h3 
			margin: 0 0 20px
	form 
		input[type="text"],
		input[type="email"]
			width: 280px
			height: 32px
			padding: 0 10px
			&.birthday 
				width: 50px 
		textarea
			resize: none
			padding: 10px
		input[type="submit"] 
			background: url('../img/footer-bg.jpg');
			color: $light
			padding: 5px 20px
			border: none
			+millis-bold
			text-transform: uppercase
			font-size: 16px
			cursor: pointer
			max-width: 200px 
			+transition( all 0.4s )
			&:hover 
				opacity: 0.8
			+small
				width: 100%
		div.wpcf7-validation-errors
			border: 2px solid $gold
		div.wpcf7-response-output
			margin: 2em 0em 1em
			padding: 0.2em 1em
		p 
			margin: 0 0 10px
.block--mailchimp 
	form 
		max-width: 500px
		input[type='text'],
		input[type='email']
			margin-bottom: 10px 
			width: 100%				

.block--movie-hero 
	padding: 20px 0px
.block--lg-banner
	text-align: center
	.banner-image 
		+ratio(1200,430)
		&:before 
			padding-top: 500px 
		+super-large 
			+ratio(1200,465)
			&:before 
				padding-top: 500px 
		position: relative 
		.in
			height: 100%
			z-index: 10
			+flx-ctr-ctr
			&:after 
				content: ''
				position: absolute
				bottom: 0px 
				left: 0px 
				height: 380px 
				width: 100%   
				z-index: 100 
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */ 					
		.lockup
			width: 100%
			text-align: left
			position: absolute 
			top: 60px 
			+super-large 
				top: 50px 
			z-index: 100
			color: $light 
			padding: 20px 30px 20px 20px 
			h3 
				font-size: 68px
				text-transform: uppercase
				margin: 20px 0px  
			&.right 
				width: 600px
				right: 0px
				
				+super-large 
					right: 10% 
			.cta 
				+button 

	
	+small 
		.banner-image 
			&:before 
				padding-top: 0px   
			.in 
				position: initial 
				height: 300px 
				width: 100%
				&:after 
					height: 0px 
			.lockup 
				position: initial 
				color: $dark 
				&.right 
					width: 100% 
				h3 
					font-size: 42px
.block--two-column-text
	padding-bottom: 60px 			

