$footerBreak: 1000px


footer 
	+xx
	+cf
	position: relative
	margin-bottom: 0px 
	a 
		color: $dark 
		+transition(all 0.4s) 
		&:hover 
			color: $green 
	.footer-top 
		+cf 
		nav 
			max-width: 240px 
			float: left;
			margin-top: 35px 
			ul 
				list-style: none
		.footer-goats 
			max-width: 300px
			float: right 
			text-align: left 
			padding: 24px 50px 0 0 
			img 
				width: 260px 
		//border-bottom: 5px solid $dark 
		padding: 60px 0px 10px
		+small 
			padding: 10px 0px 30px 
			nav, .footer-goats 
				float: none 
				width: 100% 
			.footer-goats 
				margin: 0 auto 
	hr 
		height: 4px 
		width: 100% 
		background-image: url('../img/Line_Horizontal.png')
		background-position: center 
		background-size: cover 	
		background-repeat: no-repeat 
		border: none   
	
	.footer-bottom
		clear: both 
		+cf 
		padding: 30px 0px
		
	.footer-newsletter 
		max-width: 500px  
		float: left 
		h5 
			margin: 0 0 10px 
		input[type="submit"] 
			+button 
			padding: 0 16px
			font-size: 14px 
			margin-top: 0px 
			width: inherit 
		+small 
			width: 100%
			float: none 
	.footer-social-copy 
		float: right 
		text-align: right 
		.social 
			display: inline-block
		.copyright-text 
			font-size: 12px
		.social-icons
			padding-left: 10px   
			svg 
				width: 30px 
				display: inline-block 
				margin-left: 20px 
				margin: 0 2px
				fill: $dark
				+transition(all 0.4s)
				&:hover 
					fill: $light 
		+small 
			padding-top: 50px 
			.copyright-text 
				font-size: 11px
	.col-1-3 
		width: 33.333%
		float: left 
		+small 
			float: none
			width: 100% 
			text-align: center 

