$headerBg: rgba(255,255,255,.90)

header.site-header
	position: relative 
	width: 100% 
	z-index: 2000
	height: 100px 
	+bg-light 
	position: relative 
	.header-content 
		+xx 
		position: relative 
	&:after     
		content: ''
		position: absolute 
		bottom: -8px 
		height: 10px 
		z-index: 1
		width: 100% 
		background-image: url('../img/light-edge-bottom_nav.png')
		background-size: contain
		+mobile 
			background-size: cover 
	.site-branding
		a
			display: inline-block
			width: inherit
			height: inherit
			margin: 12px 0 10px
			position: relative 
			z-index: 200
			color: $dark
			+transition(all 0.4s)
			&:hover 
				color: $green 
			img 
				width: 190px 
				+desktop
					width: 160px
				+small  
					width: 120px

		
					

	+small
		height: 70px
		.site-branding a 
			margin: 2px 0px 
	.content
		position: relative
		overflow: hidden  
		+small
			overflow: visible  
			+mobile-wrap 
			z-index: 102
			.site-branding
				z-index: 103
				position: relative 
				display: block

	.nav-social 
		position: absolute
		right: 0px
		top: 30px
		color: $grey
		font-size: 14px
		display: table 
		a 
			color: $grey 
			display: inline-block 
			&:hover 
				color: $light 
		.txt, .social-icons
			display: table-cell
			vertical-align: middle
		.social-icons
			padding-left: 10px   
			svg 
				margin: 0 2px
				fill: $grey
				+transition(all 0.4s)
				&:hover 
					fill: $light 
		+small 
			display: none  
	
	

// body.home
// 	+smallup
// 		header
// 			//background: transparent
// 			&:before
// 				content: ''
// 				display: block
// 				position: absolute
// 				top: 0
// 				right: 0
// 				bottom: 0
// 				left: 0
// 				border-bottom: 1px solid #ccc
// 				background: $headerBg
// 				+transition(all .3s ease-out)		
// 				+transform(translateY(-200px))
// 			&.below-fold
// 				&:before
// 					+transform(translateY(0))		

