section.hero
	+headerPush
	position: relative
	z-index: 100

	.content
		max-width: 100%
		position: relative
		+ratio(1200,430)
		+mobile
			+ratio(1,1)
		+super-large 
			+ratio(1200,405)
			&:before 
				padding-top: 500px 
		.in
			height: 100%
			z-index: 10
			+flx-ctr-ctr				
		.lockup
			width: 100%
			text-align: center
			position: absolute 
			bottom: 15%     
			z-index: 101
			color: $light 
			h1
				margin: 0 auto !important 
				font-size: 90px
				line-height: 1em
				letter-spacing: $semiboldTracking
				+xx
				max-width: 900px
				z-index: 100				
				text-transform: uppercase
			h2
				+xx
				margin: 0 auto 
				z-index: 100			
				font-size: 42px 
				text-transform: uppercase
			+desktop  
				bottom: 30px 
				h1 
					font-size: 66px 
				h2 
					font-size: 28px 
			+small 
				h1 
					font-size: 42px 
				h2 
					font-size: 20px 
		&:after 
			content: ''
			position: absolute
			bottom: 0px 
			height: 350px 
			width: 100%   
			z-index: 100 
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	&.slider 
		.lockup
			width: 100%
			text-align: center
			position: absolute 
			bottom: 15%     
			z-index: 101
			color: $light 
			h1
				margin: 0 auto !important 
				font-size: 90px
				line-height: 1em
				letter-spacing: $semiboldTracking
				+xx
				max-width: 900px
				z-index: 100				
				text-transform: uppercase
			h2
				+xx
				margin: 0 auto 
				z-index: 100			
				font-size: 42px 
				text-transform: uppercase
			+desktop  
				bottom: 30px 
				h1 
					font-size: 66px 
				h2 
					font-size: 28px 
			+small 
				h1 
					font-size: 42px 
				h2 
					font-size: 20px
	&.short .content 
		+ratio(1200,305)
		&:after 
			height: 300px   
		+small
			+ratio(2,1)
		+mobile
			+ratio(1,1)
	&.mobileImage 
		.mobile-in,
		.mobile-content
			display: none 
		+mobile 
			.in, .sk-slider 
				display: none 
			.mobile-in,
			.mobile-content 
				display: block 
	&.no-bg .content 
		&:before 
			padding-top: 120px 
		&:after 
			height: 0px   
		.lockup 
			top: 40px 
			h1 
				font-size: 40px 
				color: $dark 
			h2 
				font-size: 28px 
				color: $dark 			
		+small 
			&:before  
				padding-top: 140px 
