.single-product #site-navigation 
	border-bottom: 3px solid $dark 
#site-navigation 
	position: absolute
	right: 0px
	bottom: 76px 
	+millis-reg
	> ul > li 
		position: relative 

		&:after 
			content: ''
			position: absolute
			left: 0px
			bottom: 0px 
			height: 5px 
			width: 100%   
	ul 
		+cf 
		li 
			display: block

			float: left 
			margin: 0px 0px 0px 25px
			font-size: 24px 
			+phabletdown 
				font-size: 21px
			display: inline-block
			line-height: 1 
			z-index: 2
			+phabletdown
				margin-left: 0px 
			+desktop 
				float: none 
				margin: 0px
				display: block 

			a
				color: $dark  
				display: block 
				position: relative 
				+transition(all 0.4s)
				+millis-reg
				text-transform: uppercase  
				margin: 10px 15px -5px 
				padding-bottom: 16px
				+phabletdown
					margin: 10px 14px -5px
				&:hover 
					color: $green
					&:after 
						width: 100%
			&.current-menu-item, &.current-menu-parent 
				> a 
					color: $green 
	.sub-menu
		display: none
		position: absolute
		padding: 5px 
		top: 59px
		+phabletdown 
			top: 54px  
		left: 12px 
		background: rgba(#597E32, 0.8)   
		min-width: 120px 
		width: auto 
		z-index: 100 
		li 
			margin-left: 0px
			display: block
			width: 100% 
			&:last-of-type 
				border-bottom: none
			a  
				display: block
				line-height: 1
				margin: 0 
				text-transform: capitalize
				padding: 5px 10px
				color: $light
				+desktopup 
					color: $light 
				font-size: 20px
				+millis-reg
				+transition(all .2s ease-out)
				&:hover
					background-color: #597E32
					color: $light 
			&.current_page_item 
				> a 
					color: $light
					//+bold-font
					&:hover 
						color: $light 
			ul.sub-menu
				position: initial 
				display: block 
				background: transparent
				list-style-type: circle !important 
				color: #FFD478 
				padding: 0px
				li
					padding-left: 10px 
					a 
						color: #FFD478
						font-size: 16px
						position: relative
						+transition(all 0.4s) 
						/*&:before 
							content: ''
							background-color: #FFD478
							height: 5px 
							width: 5px 
							border-radius: 100% 
							position: absolute   
							left: 0px 
							top: 12px*/
						&:hover 
							color: $light 
							/*&:before 
								background-color: $light*/

		+desktop
			display: block
			top: 0px
			position: relative 
			background: transparent 
	li.menu-item-has-children
		position: relative
		&:after 
			content: ""
			position: absolute
			height: 20px
			bottom: -20px 
			left: 0px
			width: 100% 
			background: transparent 
		&:hover 
			.sub-menu
				display: block 
	+desktop 
		display: none   
		position: fixed
		z-index: 102 
		overflow: scroll
		height: inherit
		top: 0px
		left: 0px 
		right: 0px
		bottom: 0px 
		padding-top: 120px 
		background: $dark
		.upper-nav 
			display: none 
		&:before 
			content: ''
			height: 137px
			position: fixed 
			top: 0px 
			width: 100% 
			left: 0px 
			background: $dark 
			z-index: 102 
		.menu 
			//border-top: 5px solid $gold 
			margin: 0 20px 
			padding-top: 20px 
		ul 

			li 
				display: block 
				font-size: 28px 
				margin-left: 0px 
				a 
					color: $light 
					position: relative
					//padding-bottom: 4px
					margin-left: 0px 
					display: inline-block 
					line-height: 1.2em
					&:after 
						content: ''
						display: none 
	.menu-header-menu-container 
		display: inline-block 
		//float: left 
	.upper-nav   
		position: absolute 
		top: -14px 
		font-size: 12px
	.find-your-store 
		color: $green 
		right: 8px
		svg 
			width: 16px 
			height: 16px 
			vertical-align: top 
	.contact 
		right: 105px 
		&:after 
			content: ' | ' 
			display: inline 
			color: $dark 
			margin-left: 2px  
			vertical-align: top 

	.search-box 
		display: inline-block
		position: relative 
		vertical-align: top;
		padding-top: 18px;
		svg 
			width: 26px
			height: 26px
			cursor: pointer 
		form 
			display: none 
			background-color: rgba(#597E32,0.8)
			padding: 10px 10px 20px 
			position: absolute 
			top: 65px  
			left: -190px 
			width: 222px 
			z-index: 9001
			border-bottom-right-radius: 5px
			border-bottom-left-radius: 5px  
			+box-sizing(border-box) 
			input 
				display: inline-block 
			[type="search"] 
				border: none 
				background: rgba(#fff, 0.6)
				color: #414141
				padding: 2px 5px 
				width: 162px 
			[type='submit'] 
				+button 
				background: $light 
				font-size: 12px 
				border-radius: 10px  
				border: none  
				color: $green
				padding: 2px 
				margin: 0px 
				&:hover 
					background-color: rgba($light, 0.7)
.footer-menu-mobile 
	display: none 
	.menu 
		padding-top: 0px !important
	+desktop 
		display: block 
#nav-toggle 
	// float: right 
	// position: relative 
	position: absolute
	top: 45px
	right: 20px
	z-index: 200 
	+small 
		top: 25px
	+desktopup
		display: none 
// Settings
// ==================================================
$hamburger-padding-x: 15px !default
$hamburger-padding-y                       : 15px !default
$hamburger-layer-width                     : 40px !default
$hamburger-layer-height                    : 4px !default
$hamburger-layer-spacing                   : 6px !default
$hamburger-layer-color                     : $green !default
$hamburger-layer-border-radius             : 0px !default
$hamburger-hover-opacity: 0.7 !default
$hamburger-hover-transition-duration: 0.15s !default
$hamburger-hover-transition-timing-function: linear !default


$hamburger-hover-use-filter: false !default
$hamburger-hover-filter: opacity(50%) !default



.hamburger 
	//padding: $hamburger-padding-y $hamburger-padding-x
	display: inline-block
	cursor: pointer

	transition-property: opacity, filter
	transition-duration: $hamburger-hover-transition-duration
	transition-timing-function: $hamburger-hover-transition-timing-function

	
	font: inherit
	color: inherit
	text-transform: none
	background-color: transparent
	border: 0
	margin: 0
	overflow: visible

	&:hover 
		opacity: $hamburger-hover-opacity
.hamburger-box 
	width: $hamburger-layer-width
	height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2
	display: inline-block
	position: relative

.hamburger-inner 
	display: block
	top: 50%
	margin-top: $hamburger-layer-height / -2

	&
		width: $hamburger-layer-width
		height: $hamburger-layer-height
		background-color: $hamburger-layer-color
		border-radius: $hamburger-layer-border-radius
		position: absolute
		transition-property: transform
		transition-duration: 0.15s
		transition-timing-function: ease
	&::before
		width: $hamburger-layer-width
		height: $hamburger-layer-height
		background-color: $hamburger-layer-color
		border-radius: $hamburger-layer-border-radius
		position: absolute
		transition-property: transform
		transition-duration: 0.15s
		transition-timing-function: ease
	&::after 
		width: $hamburger-layer-width
		height: $hamburger-layer-height
		background-color: $hamburger-layer-color
		border-radius: $hamburger-layer-border-radius
		position: absolute
		transition-property: transform
		transition-duration: 0.15s
		transition-timing-function: ease

	&::before
		content: ""
		display: block
	&::after 
		content: ""
		display: block
	
	&::before 
		top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1
	&::after 
		bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1

.hamburger--squeeze
	.hamburger-inner
		transition-duration: 0.075s
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19)
		&::before
			transition: top 0.075s 0.12s ease, opacity 0.075s ease

		&::after
			transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19)
		

	&.is-active 
		.hamburger-inner 
			background-color: $green 
			transform: rotate(45deg)
			transition-delay: 0.12s
			transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)

			&::before
				top: 0
				opacity: 0
				transition: top 0.075s ease, opacity 0.075s 0.12s ease
			&::after
				background-color: $green 
				bottom: 0
				transform: rotate(-90deg)
				transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1)
