.intro-copy 
	padding: 50px 20px
	overflow: visible 
	z-index: 100 
	position: relative
	&:before  
		content: ''  
		position: absolute 
		top: -6px 
		height: 10px   
		width: 100% 
		left: 0px
		background-image: url('../img/dark-edge-top.png')
		background-size: contain  
		+mobile 
			background-size: cover 
	&:after     
		content: ''
		position: absolute 
		bottom: -6px 
		height: 10px 
		width: 100% 
		left: 0px 
		background-image: url('../img/light-edge-bottom.png')
		background-size: contain 
		+mobile 
			background-size: cover
	.intro-copy__text   
		max-width: 800px
		text-align: center 
		width: 100% 
		margin: 0 auto 
		color: $dark
		h3 
			margin: 20px 
			+small 
				font-size: 42px 
.page-template-page-product .intro-copy
	&:after 
		background: none 

//SEARCH

.search-wrapper 
	+xx 
	+cf 
	//max-width: 1000px
	padding: 0px 20px 
	margin-top: 20px !important
	margin-bottom: 20px  !important 
	background: rgba($light, 0.6)
	.page-title 
		margin: 70px 0px 20px 
		font-size: 32px 
	h1.entry-title 
		margin: 0px 
		+millis-reg 
		font-size: 24px 
	.search-readMore 
		margin-bottom: 15px 
		display: block 

//SLIDER

.sk-slider 
	position: relative
	display: block
	box-sizing: border-box
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	-ms-touch-action: pan-y
	touch-action: pan-y
	-webkit-tap-highlight-color: transparent

.slick-list 
	position: relative
	overflow: hidden
	display: block
	margin: 0
	padding: 0

	&:focus 
		outline: none
	

	&.dragging 
		cursor: pointer
		cursor: hand
    
.sk-slider .slick-track,
.sk-slider .slick-list 
	-webkit-transform: translate3d(0, 0, 0)
	-moz-transform: translate3d(0, 0, 0)
	-ms-transform: translate3d(0, 0, 0)
	-o-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)


.slick-track 
	position: relative
	left: 0
	top: 0
	display: block

	&:before,
	&:after 
		content: ""
		display: table


	&:after 
		clear: both


	.slick-loading &
		visibility: hidden
    
.slick-slide 
	float: left
	height: 100%
	min-height: 1px
	[dir="rtl"] & 
		float: right
	
	img 
		display: block
	
	&.slick-loading img 
		display: none
	

	display: none

	&.dragging img 
		pointer-events: none

	.slick-initialized &
		display: block

	.slick-loading & 
		visibility: hidden

	.slick-vertical & 
		display: block
		height: auto
		border: 1px solid transparent
    
.slick-arrow.slick-hidden 
	display: none

.slick-dots
	margin: 0
	padding: 0
	list-style: none
	position: absolute 
	 
	bottom: 0px 
	display: flex
	justify-content: center
	margin: 0
	padding: .6rem 0
	list-style-type: none
	width: 100% 
	li 
		margin: 0 0.25rem
		outline: none 
	button 
		display: block
		width: .6rem
		height: .6rem
		padding: 0
		border: none
		border-radius: 100%
		background-color: none 
		border: 1px solid $dark
		text-indent: -9999px
	li.slick-active button
		background-color: $dark
		
.slick-arrow
	position: absolute 
	top: 48%
	z-index: 100
	cursor: pointer 
	svg 
		width: 15px 
	&.slick-next
		right: 25px
		+small 
			right: 15px 
	&.slick-prev
		left: 25px 
		+small 
			left: 15px 

// FORM
form 
	+form
	&.wpcf7-form 
		font-size: 14px 
		line-height: 18px 
		max-width: 400px 
		b 
			display: block 
			margin-top: 5px 
		label 
			display: block 
			margin: 10px 0px  
		.wpcf7-form-control-wrap 
			display: block
			margin: 5px 0px 15px  
			input[type="text"], input[type="email"], textarea
				max-width: 400px 
				//border: 1px solid $dark
				border: none 
				width: 100%
				&[name="text-zip"] 
					max-width: 120px 
		select 
			border: none 
		select[name="Topic"], select[name="State"], select[name="Products[]"]
			color: #a9a7a7
			height: 28px
			max-width: 400px 
			border-radius: none
			-webkit-border-radius: 0px
			-moz-appearance: none
			-webkit-appearance: none
			background: url("../img/selectArrow.png") no-repeat scroll 97% center
			background-repeat: no-repeat 
			color: $dark
			background-color: $light
			display: block
			width: 100%
			//border: 1px solid $dark
			border: none 
			padding-left: 10px 
			background-size: 20px 
			background-repeat: no-repeat 
		select[name="Products[]"] 
			height: 64px 
			background: white  
