.vid
	width: 100%
	margin: 0px 0px 0px 
	+ratio(16,9)
	text-align: center 
	background-size: cover 
	background-position: center center
	cursor: pointer
	&.column 
		+ratio(3,4)
		+phabletdown
			//+ratio(6,3)
	.vid_thumb
		background-size: cover 
		background-position: center center	
	.vid-play,
	.vid_thumb,
	.vidbox
		position: absolute
		top: 0
		bottom: 0  
		left: 0
		width: 100%
	.vid-play
		+transition(all .2s ease-out)
		&.playing
			.vid_thumb
				opacity: 0
				pointer-events: none			
	.vid_thumb
		+flx-ctr-ctr
		+transition(all .2s ease-out)
		#play-video
			width: 80px
			display: block
			z-index: 1000
			+transition(all .2s ease-out)
			+transform(scale(1))
			*
				fill: $gold
				+transition(all .2s ease-out)
	&:hover
		.vid_thumb
			filter: brightness(1.1)
		#play-video
			+transform(scale(1.1))
			*
				//fill: $gold


.lb-overlay.lightbox-video
	.lb-content
		width: 100%
	.lb-close
		background-image: url(../img/close-white.svg)
		+smallup
			top: -40px
			right: 0	
	.lb-in
		//background-color: #444
		width: 100%
		height: auto
		+small 
			padding-top: 50px