//@import "compass/css3"
@import "utility/flex"
@import "utility/mixins"
@import "utility/vars"
@import "utility/typography"
@import "utility/color-changers"

html     
	box-sizing: border-box
   
*, *:before, *:after 
	box-sizing: inherit 

body
	background: url('../img/site-bg.jpg')
	background-position: center
	background-size: contain
	background-repeat: repeat        
	color: $dark 
// .lockup
// 	h2
// 		font-weight: bold
// 		letter-spacing: $semiboldTracking
html
	&.nav-open 
		overflow: hidden 
		height: 100% 
a 
	+transition(all 0.4s)
	color: $drkGreen     
	cursor: pointer 
	&:hover 
		color: $green  
.site-content 
	width: 100%
	overflow: hidden 

// INNER PAGES
.content-area > .inner-section,
.sk-block 
	+cf 

.subscript 
	font-size: 12px
	line-height: 14px

.error-404
	text-align: center  
	height: 40vh
	+flexbox
	h1 
		font-size: 80px
		color: $light
		line-height: 1.2em
		padding: 50px 0 0px
		+flex-align(center)
		+small
			font-size: 44px
			line-height: 1em
			padding: 30px 20px
	p
		max-width: 600px
		margin: 0 auto
		color: #666  
		font-size: 20px
		line-height: 1.05
		border-top: 3px solid #666
		padding: 50px
		margin-bottom: 100px
	
.page-cloak  
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	background-color: #fefefe
	z-index: 1000000


.bg-img
	+transition(all .2s ease-out)  
	opacity: 0
	&.loaded
		opacity: 1

blockquote 
	+millis-bold
	font-size: 27px
@media screen
	.yes-print 
		display: none 
@media print
	.no-print, .sk-block 
		display: none
	.yes-print 
		display: block


@import "plugins/fancybox"
@import "plugins/bxslider"

@import "modules/header"
@import "modules/footer"
@import "modules/nav"
@import "modules/lightbox-base"
@import "modules/video"
@import "modules/hero"
@import "modules/blocks"
@import "modules/page-global"


@import "templates/single"
@import "templates/home"  
@import "templates/calendar"
@import "templates/blog"    
@import "templates/archive" 
@import "templates/product-single"    
@import "templates/recipe-single" 
@import "templates/wysiwyg"
@import "templates/sap"

//IE Stuff 

a img
	border: 0px
	max-width: 100%
	height: inherit 
figcaption 
	font-size: 12px   
	margin: 10px 0 0 0px
	line-height: 14px
	color: $dark
	text-align: left
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) 
	#site-navigation .search-box svg 
		height: 26px 
	#site-navigation .find-your-store svg 
		hieght: 16px   