/* ===================================
   Blog / Recipe Post Blocks Anywhere
   =================================== */

.post-wrapper, .the-recipes-wrapper
	margin: 0 -1%  
	+cf 
	+box-sizing(border-box) 
	//min-height: 600px   
.post-block
	display: block   
	width: 49%;
	margin-right: 1%;
	float: left
	opacity: 0 
	visibility: hidden 
	
	@include transition( all 0.4s )
	&.show-all
		opacity: 1 
		visibility: visible 
		&:nth-of-type(odd) 
			clear: both
	&.active-show
		opacity: 1 
		visibility: visible

	+small 
		width: 100%
		margin: 0 0 30px 
	a 
		.block__txt 
			color: $dark 
.product-block, .recipe-block
	display: block   
	width: 33.333%;
	float: left
	 
	.product__image 
		margin-left: -25px 
		&.bg-image 
			+bg-cover 
			+ratio(6,4)
		img 
			max-width: 240px
			margin: 0 auto  
			+desktop 
				max-width: 210px
			+small 
				max-width: 190px 
	.block__txt 
		+med-font 
		color: $dark 
		.categories 
			text-transform: uppercase
			font-size: 12px 
			line-height: 14px
		.product-title 
			text-transform: capitalize 
			font-size: 22px 
			line-height: 24px 
		.size 
			+reg-font
			font-size: 12px  

	+small 
		width: 100%
		margin: 0 0 30px 
.product-block 
	&:nth-of-type(4n+1) 
			clear: both
	+small
		&:nth-of-type(4n+1) 
			clear: none 
.recipe-block 
	padding: 0 4% 50px
	opacity: 0 
	visibility: hidden 
	
	@include transition( all 0.4s )
	&.show-all
		opacity: 1 
		visibility: visible 
		
		&:nth-of-type(3n+1) 
			clear: both
	&.active-show
		opacity: 1 
		visibility: visible
	+small 
		width: 100%
		padding: 0px 
	.block__txt 
		text-align: center 
		.categories 
			margin: 5px 0 
	.product-title 
		margin-top: 0px
	.product__image 
		margin-left: 0px
.blog-block 
	padding: 0 2% 40px
	.block__image
		+ratio(6,3)
	.block__txt
		text-align: center 
		
		h3	
			font-size: 30px
			line-height: 38px
			margin: 10px 0 0px
			+small  
				margin: 10px 0 20px 
		.categories 
			margin-bottom: 15px 
			a 
				color: $dark 
				+med-font 
				text-transform: uppercase 
				font-size: 12px 
		+small 
			h3 
				font-size: 26px 
				line-height: 30px 

/* ===================================
   Blog Landing
   =================================== */
.blog-header 
	padding: 0 2%
	h1 
		margin: 0 0 30px
body.blog 
	.content 
		+xx
		+cf 
		.post-wrapper
			padding: 30px 0px 
		.inner-sub-nav 
			position: relative 
			min-height: 55px
		.filters-category
			margin-top: 10px 
			+dropdown-filters	
section.not-found
	.content, .page-header 
		+xx
		+cf
		margin-bottom: 30px 
	.page-title 
		position: relative 
		min-height: 55px
		margin: 0 auto
.faq-content 
	+xx
	+cf 
	.post-wrapper
		padding: 30px 0px 


.press-content 
	+xx
	+cf 
	.press-wrapper
		padding: 30px 0px 50px
	.press-block-wrapper 
		max-width: 960px
		margin: 0 auto
		padding: 20px 0px
		border-bottom: 1px solid $gold
		&:last-child
			border-bottom: none
	h3 
		margin: 0 0 10px
	.press-block 
		color: $light 
		display: inline-block
		&:after 
			content: " | "
			margin: 0 5px
	.press-publication 
		display: inline 
	.press-date 
		display: inline-block

/* ===================================
   Recipe Landing
   =================================== */

body.page-template-page-recipes .intro-copy
	&:after 
		background-image: none 
	&:before 
		background-image: url('../img/dark-edge-top.png')
.recipe-categories, .blog-categories 
	+bg-light
	text-align: center 
	padding: 30px 0px 
	font-size: 19px 
	.filters 
		.filter-item 
			&.selected 
				a 
					color: $drkGreen 
		ul, .filter-lead 
			display: inline-block 
			text-transform: uppercase 

			li 
				display: inline-block 
				&:after 
					content: '/'
					margin: 0 7px  
					+bold-font
				&:nth-of-type(1):after 
					margin: 0 3px 0 5px 
				&:last-child:after 
					content: ''
				a 
					+bold-font
// undo category bg
.blog-categories 
	background: none 
	z-index: 1 
	position: relative 
	margin-top: 50px 
.the-recipes, .the-blog-wrapper
	+xx
	+cf
	padding: 60px 0px 
	+small 
		padding-bottom: 0px 
.blog-content
	+bg-light 
	+cf 

/* ===================================
   FAQ Landing
   =================================== */

.faqs-section 
	+bg-light 
	+cf
	padding: 40px 0px
	.faq-header 
		text-align: center;
		width: 100%;
		border-bottom: 3px solid $dark 
		font-size: 42px 
		padding-bottom: 35px
	
	.the-faqs-wrapper 
		+cf 
		max-width: 750px
		margin: 0 auto 
		+small 
			margin: 0 20px 
		.faq-block 
			padding: 0 0 30px
			width: 100% 
			float: none 
			margin: 0 
			opacity: 1 
			visibility: visible 
			.block__txt 
				text-align: left 
			+small 
				width: 100%
				padding: 0px
			&:nth-of-type(odd)
			clear: none 
			.title-wrapper 
				width: 100%
				position: relative 
				cursor: pointer 
				h3 
					max-width: 90% 
				.close 
					content: ''
					position: absolute
					right: 3%
					top: 3px
					@include transform-origin(50% 50%)
					@include transition(all 0.4s)
					width: 26px
					height: 26px
					background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA1MS4xIDUxLjEiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxLjEgNTEuMSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+Cjxwb2x5Z29uIGZpbGw9IiM1NzUwNEMiIHBvaW50cz0iNDguOSwyOC41IDQ4LjksMjIuNCAyOC45LDIyLjQgMjguNywyLjIgMjIuNiwyLjIgMjIuNiwyMi43IDIuMywyMi40IDIuMywyOC41IDIyLjYsMjguOCAyMi42LDQ4LjggCgkyOC43LDQ4LjggMjguNywyOC44ICIvPgo8L3N2Zz4K')
					background-size: contain
					background-position: center
					background-repeat: no-repeat
			.single-faq-content-wrapper 
				display: none;
			&.active 		
				.title-wrapper .close
					@include transform(rotate(135deg))


/* ===================================
   Blog Single --> See Single
   =================================== */

