.calendar-content
	+xx 
	+cf   
	padding: 0px 0px 40px 
	h1	
		+millis-bold 
	.calendar-day 
		padding: 20px 0px 0px
		border-top: 1px solid $gold 
		.movie
			padding-bottom: 20px 
			clear: both
			+cf 
			
		.calendar-thumb 
			+ratio(3,5)
			width: 120px
			float: left;
			margin: 0 10px 5px 0 
			+responsive-below(500px)
				width: 100%
				ratio(5,3)
				&.vault 
					width: 120px
					ratio(3,5)
		h6 
			font-size: 1.2em
			margin: 0 0 10px 
		.calendar-text 
			margin: auto 
			width: calc(100% - 140px)
			float: left
			vertical-align: top
			+responsive-below(500px)
				width: 100%
			&.vault
				width: 100%
		.calendar-showtimes
			margin-top: 10px
			+timestamp
.movie-archive
	width: 20%
	text-align: left
	float: left
	margin: 20px 0px
	&:nth-of-type(5n+2)
		clear: both
	+small 
		width: 33.334%
		&:nth-of-type(5n+2)
			clear: none
		&:nth-of-type(3n+2)
			clear: both
	+responsive-below(450px)
		width: 50%
		
		&:nth-of-type(3n+2)
			clear: none
		&:nth-of-type(2n+2)
			clear: both
	h3 
		margin: 15px 0 5px
	p 
		margin: 0 auto
	.calendar-thumb 
		+ratio(3,5)
		width: 120px
		display: block
		margin: 0 10px 5px 0 
		+responsive-below(500px)
			width: 100%
			ratio(5,3)
			&.vault 
				width: 120px
				ratio(3,5)	


