.showtimes-shows-wrapper
	+cf 
	min-height: 720px 
.the-shows__wrapper
	+responsive-below(960px)
		//+cf 
		//padding-bottom: 20px 
.showtimes
	+xx 
	+cf 
	//padding: 0px 0px 40px 
	.sub-nav 
		padding: 15px 0px 10px 
		+cf 
		+millis-reg 
		border-bottom: 2px solid $gold 
		color: $gold 
		#calendarDay, .arrow 
			display: none
			+small 
				display: inline-block
		.showtimes-title
			float: left 
			font-size: 32px 
			margin-right: 10px 
			+millis-bold 
		ul 
			float: left
			display: block
			li 
				display: inline-block
				text-transform: uppercase
				font-size: 32px 
				margin-right: 20px
				+transition(all 0.4s)
				cursor: pointer
				a 
					color: $gold
					&:hover  
						color: $light
				&.active, &:hover  
					color: $light 
				span 
					font-size: 22px 
				&:last-of-type
					margin-right: 0px 
		+responsive-below($desktop+100)
			.showtimes-title, ul li 
				font-size: 26px
				span 
					font-size: 16px 
		+responsive-below(868px)
			.showtimes-title, ul li, #calendarDay 
				font-size: 22px
				span 
					font-size: 15px 
		+small 
			position: relative 
			cursor: pointer
			ul
				display: none 
				position: absolute 
				left: 0px 
				top: 53px
				width: 100%
				z-index: 2000
				background: $light 
				li  
					padding-top: 5px 
					color: $gold   
					z-index: 1000
					padding-bottom: 0
					display: block
					line-height: 1
					margin: 0 
					padding: 5px 5px 5px 20px 
					color: $gold
					+transition(all .2s ease-out)
					a 
						display: block
					&.active  
						color: $gold
						font-weight: bold
					&:hover
						background-color: $gold
						color: $light  

					
			.arrow 
				width: 18px 
				position: absolute 
				right: 0px
				top: 17px
		+smallup
			ul#calendarTimes 
				display: block !important			
.showtimes-shows 
	padding-top: 20px 
	display: none
	+cf 
	&.active 
		display: block
	.show 
		width: 23.5%  
		float: left 
		margin-bottom: 20px 
		margin-right: 1%
		&:nth-of-type(2)
			margin: 0 1% 20px
		&:nth-of-type(3)
			margin: 0 0 20px 1%
		a 
			color: $light
		.showtimes-times 
			margin-top: 20px   
			padding-top: 15px 
			height: inherit
			//overflow: auto
			+cf 
			border-top: 1px solid $gold 
		h2 
			margin-top: 20px 
		
		+timestamp
		.vid.column 
			+video-button 
		.leadin-text 
			width: 112px
			margin-top: 7px 
			float: left 
			+millis-bold
			font-size: 48px
			text-align: justify 
			span 
				display: block
				font-size: 18px 
				line-height: 38px 
		//+phabletdown
		+responsive-below(960px)
			width: 32% 
			margin-bottom: 30px 
		+small
			width: 49%
			+cf 
			margin-bottom: 30px 
			&:nth-of-type(2)
				margin: 0 0 30px 1%
			&:nth-of-type(3)
				margin: 0 1% 30px 0
		+mobile
			width: 100%
			float: none;
			margin-bottom: 20px 
			&:nth-of-type(2)
				margin: 0 0 20px 0
			&:nth-of-type(3)
				margin: 0 0 20px 0
				
	.promo 
		float: left 
		width: 50%
		margin-left: 1% 
		h2 
			margin-top: 20px 
		.promo-img
			+ratio(24973,15400)
		//+phabletdown
		+responsive-below(960px)
			width: 100%
			float: none
			clear: both 
			margin: 20px 0 
			.promo-img
				+ratio(16,8)
	&.full-width
		.promo
			float: none
			width: 100%
			margin: 0
			.promo-img
				+ratio(16,8)
	&.col-2-3
		.show 
			width: 32%
			margin: 0 1% 20px 0 
			+small 
				width: 49%
			+mobile
				width: 100%
				float: none;
				margin-bottom: 20px
		.promo 
			float: left 
			width: 66%
			clear: none 
			margin: 0 0 20px 1% 
			h2 
				margin-top: 20px 
			.promo-img
				+ratio(99883,64591)
			+small 
				width: 49%
				.promo-img
					+ratio(3,4)
			+mobile
				width: 100%
				float: none
				clear: both 
				margin: 20px 0 
				.promo-img
					+ratio(16,8)
	&.no-promo
		.show 
			//+phabletdown
			+small
				&:nth-of-type(odd)
					clear: both 
				
		.promo
			+responsive-above(960px)
				//display: none
				width: 23.5% 
				margin-left: 2% 
				.promo-img
					+ratio(3,4)
			//+phabletdown
			+responsive-below(960px)
				width: 100%
				float: none
				clear: both 
				margin: 20px 0 30px
				.promo-img
					+ratio(2,1)
			+small
				width: 49% 
				margin-left: 1% 
				float: left 
				clear: none 
				.promo-img
					+ratio(3,4)
			+mobile
				width: 100%
				float: none
				clear: both 
				margin: 40px 0 30px
				.promo-img
					+ratio(2,1)
	&.col-1-3
		.show 
			//+phabletdown
			+small
				&:nth-of-type(odd)
					clear: both 
				
		.promo
			+responsive-above(960px)
				//display: none
				width: 49% 
				margin-left: 1% 
				.promo-img
					+ratio(25,16)
			//+phabletdown
			+responsive-below(960px)
				width: 32%
				float: left
				clear: none 
				margin: 0 0 20px 1%
				.promo-img
					+ratio(3,4)
				
			+small
				width: 100%
				float: none
				clear: both 
				margin: 40px 0 30px
				.promo-img
					+ratio(2,1)
			
	&.col-1-4
		.show 
			width: 23.5%  
			float: left 
			margin-bottom: 20px 
			margin-right: 1%
			&:nth-of-type(2)
				margin: 0 1% 20px
			&:nth-of-type(3)
				margin: 0 1% 20px 1%
			&:nth-of-type(4)
				margin: 0 0 20px 1%
			+small
				width: 49%
				+cf 
				margin-bottom: 30px 
				&:nth-of-type(2)
					margin: 0 0 30px 1%
				&:nth-of-type(3)
					margin: 0 1% 30px 0
			+mobile
				width: 100%
				float: none;
				margin-bottom: 20px 
				&:nth-of-type(2)
					margin: 0 0 20px 0
				&:nth-of-type(3)
					margin: 0 0 20px 0
		.promo 
			width: 100%
			float: none
			clear: both 
			margin: 20px 0 0
			.promo-img
				+ratio(16,8)