/* ===================================
   Product Single
   =================================== */
body.products-template-default,
body.page-template-page-faqs
	header:after 
		background-image: none;
	nav 
		&:after 
			content: ''
			left: 0px 
			bottom: 0px 
			height: 5px 
			position: absolute 
			width: 100% 
			background-image: url('../img/Line_Horizontal.png')
			background-position: center 
			background-size: contain 
			background-repeat: no-repeat 
	#site-navigation .menu-header-menu-container 
		margin-bottom: -5px 
.product-single__top
	background: url('../img/site-light.jpg')
	background-position: center
	background-size: contain 
	background-repeat: repeat   
	.content 
		+cf 
		+xx 
		padding: 30px 0px 
	.product__image,
	.block__txt
		width: 50%
		float: left 
	.product__image 
		height: 480px 
		+flexbox
		img 
			+flex-align(center)
		+small 
			height: 230px 
	+desktop 
		.product__image 
			width: 40%
		.block__txt 
			width: 60% 
	+small 
		.product__image,
		.block__txt
			width: 100%
			float: none
.product-single__bottom 
	+cf 
	+xx 
	padding: 60px 0px
	.product__ingredients,
	.product__nutrition 
		width: 50%
		float: left 
	+desktop 
		.product__ingredients 
			width: 40%
		.product__nutrition 
			width: 60% 
	+small 
		.product__ingredients,
		.product__nutrition
			width: 100%
			float: none
	&.cheese 
		.ingredients-header, .cultures 
			display: none 


.product__image 
	img 
		max-width: 200px
		margin: 0 auto 
		margin-top: 30px
	&.yogurt 
		img 
			max-width: 400px 
	&.cheese 
		img 
			max-width: 430px 
	+desktop 
		img 
			max-width: 190px
		&.cheese, &.yogurt
			img 
				max-width: 260px 
	+small 
		img 
			max-width: 110px
		&.cheese, &.yogurt
			img 
				max-width: 220px 

.block__txt 
	.categories  
		text-transform: uppercase 
		+med-font 
	.product-title 
		+millis-reg 
		text-transform: uppercase 
		font-size: 46px
		line-height: 42px        
		+small 
			font-size: 38px 
	.size 
		margin: 5px 0px 15px 
		+med-font 
	.product-content 
		
	#find-product 
		cursor: pointer 
		&.cheese 
			display: none 
		a 
			color: $dark 
			@include transition( all 0.4s )
			&:hover 
				color: $green
	.coupons 
		margin: 20px 0px  
		padding: 20px 0px 18px  
		border-top: 2px solid $dark 
		border-bottom: 2px solid $dark 
		li 
			display: inline-block 
			margin-right: 5px 
			svg 
				height: 20px 
			span 
				vertical-align: top 
				line-height: 20px 
		+mobile 
			li 
				display: block 
				margin: 0 0 5px 
				&:last-child 
					margin-bottom: 0px
	.certification
		h6 
			margin: 0 0 10px 
			+med-font 
			font-size: 16px 
			text-transform: uppercase 
		.certifcation-image 
			width: 20%
			float: left 
			img 
				max-height: 55px  
			+mobile 
				width: 33.333%
				margin: 0 0 20px 
.product-single__bottom 
	h4 	
		+millis-reg 
		text-transform: uppercase 
		font-size: 36px 
		line-height: 40px 
		margin: 0 10px 20px 0px  
	.ingredients 
		font-size: 14px 
		line-height: 18px 
		margin-bottom: 30px 
		padding-right: 30px 
	.product__nutrition 
		background: rgba(255,255,255,0.5)
		padding: 20px 
		+cf 
		h6 
			+bold-font 
			text-align: right 
			margin: 0 0 3px 
			font-size: 14px
		.column 
			width: 100%     
		.serving-size,
		.calories 
			border-bottom: 8px solid $dark 
			+cf 
		.calories 
			margin-bottom: 5px 
		.left 
			clear: both 
			width: 50%
			float: left 
			&.indent 
				padding-left: 6px 
		.right 
			text-align: right
			width: 50% 
			float: left 
		.main-nutrition,
		.vitamins 
			+cf 
			.left 
				width: 70%
				&.indent 
					padding-left: 6px 
			.right 
				
				width: 30% 
				
		.main-nutrition 
			.left 
				+bold-font 
				em 
					font-style: normal 
					+reg-font 
		.percent-daily 
			clear: both 
			font-size: 9px
			margin-top: 15px  
.may-also-like 
	background: url('../img/site-light.jpg')
	background-position: center
	background-size: contain 
	background-repeat: repeat
	.content 
		+cf 
		+xx 
		padding: 60px 0px 
	h5 
		text-align: center 
		text-transform: uppercase 
		font-size: 28px 
		+millis-reg 
		margin: 0 0 30px 
		+small 
			margin-bottom: 50px;
	.product-block 
		.product__image 
			text-align: center 
		&.kefir 
			.product__image 
				img 
					max-width: 164px
		&.yogurt 
			.product__image 
				img 
					padding-top: 127px 
			.block__txt
				margin-top: 20px
			+small 
				.product__image 
					img 
						padding-top: 0px
				.block__txt
						margin-top: 0px
		&.cheese 
			.product__image 
				img 
					padding-top: 166px 
					margin-left: 4px
			+small 
				.product__image 
					img 
						padding-top: 0px
					.block__txt
						margin-top: 0px
			.block__txt
				margin-top: 20px 
	.block__txt 
		text-align: center 