/* ===================================
   Reipe Single
   =================================== */

.recipe-single__intro, 
.blog-single__intro
	background: url('../img/site-light.jpg')
	background-repeat: repeat
	background-position: center
	background-size: 100% 
	padding: 20px 0px 40px    
	position: relative
	z-index: 100 
	&:before 
		content: ''
		position: absolute 
		top: -8px 
		height: 8px 
		width: 100% 
		background-image: url('../img/light-edge-top.png')
		background-size: contain
		+mobile 
			background-size: cover 
	.content 
		+xx 
		text-align: center 
		padding: 10px 0 20px
		h1, h2 
			margin: 0 auto 
			max-width: 750px 
		h2 
			font-size: 17px 
			text-transform: uppercase 
			margin-top: 1em
		h6 
			font-size: 20px 
			+med-font
			margin: 10px 0 0px
		.recipe-single__text 
			max-width: 800px 
			margin: 0 auto
		.recipe-single__time 
			span 
				+bold-font 
				&.dot 
					font-size: 24px 
					vertical-align: middle 
.blog-single__intro 
	background: none 
	&:before, &:after 
		content: ''
.recipe-single__content 
	+xx 
	+cf 
	padding: 40px 0 
	max-width: 1000px 
	ul 
		list-style: disc 
		li 
			margin-left: 40px 
	h3 
		margin: 0 0 5px
		font-size: 2.5em
		+small 
			font-size: 1.9em
		text-transform: uppercase 
		+ h3 
			margin-top: 30px 
.product-used 
	+cf 
	padding-left: 2%
	h3 
		margin: 0px 0 10px
	.product-used__square 
		+ratio(1,1)
		width: 70%
		margin-right: 30% 
		float: left 
		.in 
			background-size: contain 
	+desktop 
		padding: 0px
		.product-used__square 
			width: 40%
			margin-right: 10%
		h3 
			margin: 20px 0 10px
.print-pint 
	margin-top: 20px
	.print, .pint 
		max-width: 40px
		margin-right: 10px 
		path, rect 
			fill: $dark 
			+transition(all 0.4s)
		&:hover 
			path, rect 
				fill: $light
