.sapCpButtonWidget .sapCpButtonWidgetExtraText 
    display: block
    padding-top: 5px


.sapCpButtonWidget .sapCpMissingMandatoryFieldLabel 
    display: block
    color: red
    font-size: 2.5em
    font-weight: bold

.sapCpContentPage:not(.sapCpMissingMandatoryField) .sapCpButtonWidget .sapCpMissingMandatoryFieldLabel 
    display: none

.sapCpButtonWidget .sapCpErrorMessageText 
    display: block
    color: red
    font-size: 2.5em
    font-weight: bold

.sapCpContentPage:not(.sapCpSubmitError) .sapCpButtonWidget .sapCpErrorMessageText 
    display: none

.sapCpButtonWidget .sapCpSuccessMessageLabel 
    display: block
    color: red
    font-size: 2.5em
    font-weight: bold

.sapCpContentPage:not(.sapCpSubmitCompleted) .sapCpButtonWidget .sapCpSuccessMessageLabel 
    display: none


.sapCpContentPage:not(.sapCpSubmitCompleted) .sapCpButtonWidget .sapCpButtonWidgetDownloadLink 
    display: none


.sapCpButtonWidget .sapCpButtonWidgetDownloadLink:not(.sapCpButtonWidgetDownloadLinkVisible) 
    display: none 

.hidden_label 
    display: none 
form.sapCRLPage    
    text-align: left 
    +form 
    .sapCpCheckBoxWidget 
        clear: both 
        margin-top: 30px 
    .sapCpCheckBox 
        float: left 
        margin-right: 5px 
    button.sapCpButton 
        margin-top: 10px 
