.single-faq-wrapper
	+xx
	padding-bottom: 30px 
	+cf 
	height: 100%
	ul 
		list-style: disc 
		li 
			margin-left: 40px 
	//FAQ
	.faq-hero 
		+ratio(116,55)
		margin: 20px 0 10px 
	.faq-text 
		h2
			font-size: 42px
			margin: 20px 0px 10px
	.faq-block 
		text-align: left 
		li 
			margin-left: 50px
.single-faq-content-wrapper 
	li 
		margin-left: 50px 
.blog-single__content 
	padding: 30px 20px    
	font-size: 16px
	line-height: 28px
	 
	background: url("../img/site-light.jpg")
    background-repeat: repeat 
	background-repeat: repeat
	background-position: center
	.container 
		max-width: 775px 
		margin: 0 auto
	h3 
		margin: 10px 0 20px 
	li 
		list-style: disc 
		margin-left: 50px
	img 
		&.alignright 
			margin: 10px 0 10px 20px
			float: right
		&.alignleft 
		    margin: 10px 20px 10px 0
		    float: left 
	.more-stories-wrapper
		width: 100% 
		text-align: center 
		margin-top: 50px
		.more-stories
			+button
		 

.single-post 
	.single-post-content 
		+xx 
		+cf 
		padding: 20px 0px
		h3 
			a 
				color: $light    
	.inner-sub-nav 
		+xx
	.post-header 
		border-bottom: 1px solid $gold 
		margin-bottom: 20px 
		padding-bottom: 20px
		color: $gold 

		h3
			margin: 0px
			+millis-bold

		h1 
			margin: 10px 0px 20px 
	.post-hero

		+ratio(116,55)   
		.in 
			//border: $light solid 10px
	.return
		margin-bottom: 40px 
		svg 
			width: 22px
			float: left
		
			margin-top: -3px 
			
		span 
			display:inline-block
			cursor:pointer 
			color: $light 
			+line-after($gold)
