body.single
	.entry-content 
		img
			margin: 0 0 1.5em 
			+responsive-below(600px) 
				width: 100% 
				height: auto 
	.alignleft, 
	img.alignleft 
		margin-right: 1.5em
		display: inline
		float: left
		+responsive-below(600px) 
			width: 100% 
			height: auto
			margin: 0 0 1.5em 
	.alignright, 
	img.alignright 
		margin-left: 1.5em
		display: inline
		float: right
		+responsive-below(600px)
			width: 100% 
			height: auto
			margin: 0 0 1.5em 

	.aligncenter, 
	img.aligncenter 
		margin-right: auto
		margin-left: auto
		display: block
		clear: both
		margin-top: 20px
		height: auto      
		+responsive-below(600px)
			width: 100% 
			height: auto
			margin: 0 0 1.5em 
	.wp-caption 
		margin-bottom: 1.5em
		text-align: center
		padding-top: 5px
  
		img 
			border: 0 none
			padding: 0
			margin: 0

		p.wp-caption-text 
			line-height: 1.5
			font-size: 10px
			margin: 0



	.wp-smiley 
		margin: 0 !important
		max-height: 1em


	blockquote 
		&.left 
		margin-right: 20px
		text-align: right
		margin-left: 0
		width: 33%
		float: left


		&.right 
		margin-left: 20px
		text-align: left
		margin-right: 0
		width: 33%
		float: right
