
.bx-wrapper
  position: relative
  margin: 0 auto 60px
  margin: 0
  +phabletup
    margin-bottom: 0
  padding: 0
  *zoom: 1
  .bx-viewport
    // left: -5px;
    -webkit-transform: translatez(0)
    -moz-transform: translatez(0)
    -ms-transform: translatez(0)
    -o-transform: translatez(0)
    transform: translatez(0)
  .bx-pager, .bx-controls-auto
    position: absolute
    bottom: -30px
    width: 100%
  .bx-loading
    min-height: 50px
    //background: url(../img/loader.gif) center center no-repeat #fff;
    height: 100%
    width: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 200
  .bx-pager
    text-align: center
    font-size: .85em
    font-family: Arial
    font-weight: bold
    color: #666
    padding-top: 20px
    .bx-pager-item
      display: inline-block
      *zoom: 1
      *display: inline
  .bx-controls-auto .bx-controls-auto-item
    display: inline-block
    *zoom: 1
    *display: inline
  .bx-pager.bx-default-pager a
    background: transparent
    text-indent: -9999px
    display: block
    width: 15px
    height: 15px
    margin: 0 8px
    outline: 0
    border: none
    -moz-border-radius: 15px
    -webkit-border-radius: 15px
    border-radius: 15px
    background: white
    border: 1px solid black
    &:hover, &.active
      background: black
  .bx-prev
    left: -50px
    padding: 2px
    background-image: url(../img/controls/arrow-left.svg)
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    opacity: 1
  .bx-next
    right: -50px
    padding: 2px
    background-image: url(../img/controls/arrow-right.svg)
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    opacity: 1
  .bx-prev:hover, .bx-next:hover
    opacity: 1
  .bx-controls-direction a
    position: absolute
    top: 40%
    margin-top: -25px
    outline: 0
    width: 50px
    height: 50px
    text-indent: -9999px
    z-index: 300
    &.disabled
      display: none
  .bx-controls-auto
    text-align: center
    .bx-start
      display: block
      text-indent: -9999px
      width: 10px
      height: 11px
      outline: 0
      background: url(../img/controls.png) -86px -11px no-repeat
      margin: 0 3px
      &:hover, &.active
        background-position: -86px 0
    .bx-stop
      display: block
      text-indent: -9999px
      width: 9px
      height: 11px
      outline: 0
      background: url(../img/controls.png) -86px -44px no-repeat
      margin: 0 3px
      &:hover, &.active
        background-position: -86px -33px
  .bx-controls.bx-has-controls-auto.bx-has-pager
    .bx-pager
      text-align: left
      width: 80%
    .bx-controls-auto
      right: 0
      width: 35px
  .bx-caption
    position: absolute
    bottom: 0
    left: 0
    background: #666 \9
    background: rgba(80, 80, 80, 0.75)
    width: 100%
    span
      color: #fff
      font-family: Arial
      display: block
      font-size: .85em
      padding: 10px