.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
	padding: 0
	margin: 0
	border: 0
	outline: none
	vertical-align: top


.fancybox-wrap
	position: absolute
	top: 0
	left: 0
	z-index: 8020


.fancybox-skin
	position: relative
	background: #f9f9f9
	color: #444
	text-shadow: none

.fancybox-opened
	z-index: 8030

.fancybox-outer, .fancybox-inner
	position: relative


.fancybox-inner
	overflow: hidden

.fancybox-type-iframe .fancybox-inner
	-webkit-overflow-scrolling: touch


.fancybox-error
	color: #444
	margin: 0
	padding: 15px
	white-space: nowrap


.fancybox-image, .fancybox-iframe
	display: block
	width: 100%
	height: 100%


.fancybox-image
	max-width: 100%
	max-height: 100%

#fancybox-loading
	position: fixed
	top: 50%
	left: 50%
	margin-top: -50px
	margin-left: -50px
	background-position: 0 -108px
	opacity: 0.8
	cursor: pointer
	z-index: 8060


#fancybox-loading div
	width: 100px
	height: 100px


.fancybox-close
	position: fixed
	top: 20px
	right: 20px
	width: 42px
	height: 42px
	cursor: pointer
	z-index: 8040
	padding: 2px
	background-position: 0px 0px
	background-repeat: no-repeat
	border: none
	background-image: url(../img/controls/close.svg)
	&:link, &:visited
		border: none
	
a.fancybox-nav,
a.fancybox-nav:link
	border: none

.fancybox-nav
	position: absolute
	top: 0
	width: 40%
	height: 100%
	cursor: pointer
	text-decoration: none
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	z-index: 8040


.fancybox-prev
	left: 0

.fancybox-next
	right: 0

.fancybox-nav span
	position: absolute
	top: 50%
	width: 36px
	height: 40px
	margin-top: -20px
	cursor: pointer
	z-index: 8040
	visibility: hidden


.fancybox-prev span
	left: 0px
	padding: 2px
	background-position: center

.fancybox-next span
	right: 0px
	padding: 2px
	background-position: center


.fancybox-nav:hover span
	visibility: visible


.fancybox-tmp
	position: absolute
	top: -99999px
	left: -99999px
	visibility: hidden
	max-width: 99999px
	max-height: 99999px
	overflow: visible !important



.fancybox-lock
	overflow: hidden !important
	width: auto


.fancybox-lock body
	overflow: hidden !important


.fancybox-lock-test
	overflow-y: hidden !important


.fancybox-overlay
	position: absolute
	top: 0
	left: 0
	overflow: hidden
	display: none
	z-index: 8010
	background: rgba(0,0,0,.7)


.fancybox-overlay-fixed
	position: fixed
	bottom: 0
	right: 0


.fancybox-lock .fancybox-overlay
	overflow: auto
	overflow-y: scroll


.fancybox-title
	visibility: hidden
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif
	position: relative
	text-shadow: none
	z-index: 8050


.fancybox-opened .fancybox-title
	visibility: visible


.fancybox-title-float-wrap
	position: absolute
	bottom: 0
	right: 50%
	margin-bottom: -35px
	z-index: 8050
	text-align: center


.fancybox-title-float-wrap .child
	display: inline-block
	margin-right: -100%
	padding: 2px 20px
	background: transparent
	background: rgba(0, 0, 0, 0.8)
	text-shadow: 0 1px 2px #222
	color: #FFF
	font-weight: bold
	line-height: 24px
	white-space: nowrap


.fancybox-title-outside-wrap
	position: relative
	margin-top: 10px
	color: #fff


.fancybox-title-inside-wrap
	padding-top: 10px


.fancybox-title-over-wrap
	position: absolute
	bottom: 0
	left: 0
	color: #fff
	padding: 10px
	background: #000
	background: rgba(0, 0, 0, .8)