=three-col-overlay-color
	&:nth-child(12n+1),
	&:nth-child(12n+2),
	&:nth-child(12n+3)
		.overlay
			background-color: $lime
	&:nth-child(12n+4),
	&:nth-child(12n+5),
	&:nth-child(12n+6)
		.overlay
			background-color: $gold
	&:nth-child(12n+7),
	&:nth-child(12n+8),
	&:nth-child(12n+9)
		.overlay
			background-color: $royalblue
	&:nth-child(12n+10),
	&:nth-child(12n+11),
	&:nth-child(12n+12)
		.overlay
			background-color: $purple

=four-col-overlay-color
	&:nth-child(16n+1),
	&:nth-child(16n+2),
	&:nth-child(16n+3),
	&:nth-child(16n+4)
		.overlay
			background-color: $gold
	&:nth-child(16n+5),
	&:nth-child(16n+6),
	&:nth-child(16n+7),
	&:nth-child(16n+8)
		.overlay
			background-color: $royalblue
	&:nth-child(16n+9),
	&:nth-child(16n+10),
	&:nth-child(16n+11),
	&:nth-child(16n+12)
		.overlay
			background-color: $purple	
	&:nth-child(16n+13),
	&:nth-child(16n+14),
	&:nth-child(16n+15),
	&:nth-child(16n+16)
		.overlay
			background-color: $lime				