// Responsive
$desktop-nav-width: 820px
$desktop: 960px 
$phablet-width: 1200px
$large: 1240px
$super-large: 1600px
$small: 750px
$mobile: 450px

=responsive-below($width)
	@media (max-width: #{$width})
		@content

=responsive-above($width)
	@media (min-width: $width)
		@content
		
=responsive-between($min,$max)
	@media (max-width:$max) and (min-width:$min)
		@content

=phabletup
	@media (min-width: #{$phablet-width})
		@content

=phabletdown
	@media (max-width: #{$phablet-width})
		@content
=desktopup 
	@media (min-width: #{$desktop + 1})
		@content
=desktop
	@media (max-width: #{$desktop})
		@content
=smallup
	@media (min-width: #{$small + 1})
		@content

=small
	@media (max-width: #{$small})
		@content
=mobile
	@media (max-width: #{$mobile})
		@content
=large
	@media (min-width: #{$large})
		@content

=super-large
	@media (min-width: #{$super-large})
		@content

=min-height
	@media (max-height: #{$desktop-nav-width})
		@content

=ratio($width, $height)
	position: relative
	&:before
		display: block
		content: ""
		width: 100%
		padding-top: ($height / $width) * 100%
	.in
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-size: cover
		background-position: center
		background-repeat: no-repeat
	.mobile-in
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-size: cover
		background-position: center
		background-repeat: no-repeat

=cf
	&:before,
	&:after 
		content: " "
		display: table
	&:after
		clear: both
	*zoom: 1
=flexbox
	display: -webkit-box    
	display: -moz-box           
	display: -ms-flexbox    
	display: -webkit-flex
	display: flex
=flex-align($position)
	-ms-flex-item-align: ($position)
	-webkit-align-self: ($position)
	align-self: ($position)
=box-sizing($box-model) 
	-webkit-box-sizing: ($box-model)
	-moz-box-sizing: ($box-model)
	box-sizing: ($box-model)
=transition($transition)      
    -moz-transition:    $transition    
    -o-transition:      $transition
    -webkit-transition: $transition
    transition:         $transition
=transform($transforms) 
	-moz-transform: $transforms
	-o-transform: $transforms
	-ms-transform: $transforms
	-webkit-transform: $transforms
	transform: $transforms
=transform-origin($transforms) 
	-webkit-transform-origin: $transforms
	-moz-transform-origin: $transforms
	-ms-transform-origin: $transforms
	-o-transform-origin: $transforms
	transform-origin: $transforms

=fixchop
	-webkit-transform: translateZ(0)
	-webkit-backface-visibility: hidden 
	-webkit-perspective: 1000

	-moz-transform: translateZ(0)
	-moz-backface-visibility: hidden 
	-moz-perspective: 1000

	-ms-transform: translateZ(0)
	-ms-backface-visibility: hidden 
	-ms-perspective: 1000

	-o-transform: translateZ(0)
	-o-backface-visibility: hidden 
	-o-perspective: 1000

	transform: translateZ(0)
	backface-visibility: hidden 
	perspective: 1000 

=ir
	text-indent: 205%
	white-space: nowrap
	overflow: hidden

=lightText
	color: $light
	a
		color: $light
=darkText
	color: $dark 
	a 
		color: $dark 
=button
	color: $light 
	display: inline-block
	padding: 7px 16px
	border: 2px solid $green
	text-decoration: none
	font-size: 18px
	background-color: $green
	border-radius: 20px 
	margin-top: 20px 
	text-transform: uppercase 
	+reg-font     
	+transition(all .5s ease-out)
	+small
		padding: 5px 10px
		font-size: 13px
	&:hover
		background: $drkGreen
		border-color: $drkGreen

=mobile-wrap
	max-width: 700px
	margin: 0 auto

=xx
	max-width: 1160px
	margin: 0 auto
	
	+box-sizing(border-box)
	+phabletdown
		margin: 0 20px
	+small
		margin: 0 18px



=headline-divide
	content: ''
	height: 8px 
	background-color: $lime
	width: 80px
	margin-top: 24px
	//left: 0px
	//bottom: -60px
	display: block 
	//position: absolute

=dropdown-filters
	cursor: pointer 
	padding-top: 5px 
	position: absolute 
	width: 320px
	//border-bottom: 2px solid $dark  
	color: $gold 
	left: 0
	top: 0
	//background-color: white
	z-index: 1000
	
	padding-bottom: 0
	//font-size: 0.9em
	+small
		width: 150px
		font-size: .7em
	&:hover
		ul
			display: block	
	.arrow 
		width: 18px 
		position: absolute 
		right: 0px
		top: 6px
	ul
		display: none	
		background: $light 
		margin-top: 17px 
	.filter-item
		
		top: 15px 
		a
			display: block

			line-height: 1
			margin: 0 
			padding: 5px 5px 5px 20px 
			color: $gold
			+transition(all .2s ease-out)
			&:hover
				background-color: $gold
				color: $light 
	// +responsive-below(600px)
	// 	width: 100%
	// 	display: block 
	// 	left: 0px 
	// 	right: initial 
	// 	top: initial 

=comma-sep
	&:after
		content: ', '
	&:last-of-type
		&:after
			content: ''

=bg-cover
	background-size: cover 
	background-position: center

=bg-light 
	background: url('../img/site-light.jpg')
	background-size: contain
	background-repeat: repeat 
=sidebar
	float: left
	width: 300px
	.case-study-info
		padding-bottom: 50px
	+responsive-below(1000px)
		width: 200px
	+small 
		width: 100% 
		float: none 
		text-align: center 

=maincol
	width: calc(100% - 300px)
	float: left 
	padding-left: 80px 
	+responsive-below(1000px)
		width: calc(100% - 200px)
	+small 
		width: 100% 
		float: none 
		padding: 0px

=notes
	font-size: .6em
	line-height: 1.1em

=headerPush
	//margin-top: $navHeight
	+small
		//margin-top: $navHeightMobile

=wordBreak
	overflow-wrap: break-word
	word-wrap: break-word
	-ms-word-break: break-all
	word-break: break-all
	word-break: break-word
	-ms-hyphens: auto
	-moz-hyphens: auto
	-webkit-hyphens: auto
	hyphens: auto
=bg-image
	background-size: cover
	background-position: center
	background-repeat: no-repeat
=timestamp
	a.timeStamp
		display: inline-block
		height: 50px
		width: 50px 
		margin-left: 5px
		color: $light
		border: 1px solid $light
		+transition( all 0.4s );
		line-height: 50px
		background: transparent
		font-size: 22px;
		text-align: center;
		border-radius: 100% 
		+millis-bold
		&:hover 
			background: $gold
			border-color: $gold
=video-button
	a.video 
		+ratio(3,4)
		+flexbox
		position: relative 
		display: block 
	.vid_thumb
		+flx-ctr-ctr
		+transition(all .2s ease-out)
		#play-video
			width: 80px
			display: block
			z-index: 1000
			+transition(all .2s ease-out)
			+transform(scale(1))
			*
				fill: $gold 
				+transition(all .2s ease-out)
	&:hover
		.vid_thumb
			filter: brightness(1.1)
		#play-video
			+transform(scale(1.1))
			* 
	.button-wrapper 
		position: absolute 
		top: 0
		bottom: 0
		left: 0
		right: 0
		+flexbox
		text-align: center
		svg, img  
			+flex-align(center)
			width: 100px
			margin: 0 auto 
	+small 
		//+ratio(2,1)

=form 
	label 
		font-size: 18px
		text-transform: uppercase
		span 
			display: block 
	input[type="text"],
	input[type="email"],
	input[type="zip"]
		width: 280px
		height: 32px
		padding: 0 10px
		&.birthday 
			width: 50px 
		+mobile 
			width: 220px 
	textarea
		resize: none
		padding: 10px
	input[type="submit"],
	button.sapCpButton
		border: 1px solid $dark 
		color: $dark
		padding: 5px 20px
		
		+millis-bold
		text-transform: uppercase
		font-size: 16px
		cursor: pointer
		max-width: 200px 
		+transition( all 0.4s )
		&:hover 
			opacity: 0.8
		+small
			width: 100%
=line-after($var)
	padding-bottom: 5px
	cursor: pointer 
	position: relative
	+transition(all 0.4s)
	&:after 
		content: ''
		height: 2px
		background-color: $var 
		left: 0px
		bottom: -2px 
		width: 0px
		position: absolute 
		+transition(all 0.4s)
	&:hover 
		color: $var
		&:after 
			width: 100% 
