
//FONT MIXINS//
=reg-font
	font-family: "open-sans",sans-serif
	font-weight: 400
=ital-font
	font-family: "open-sans",sans-serif
	font-weight: 400
	font-style: italic 
=light-font
	font-family: "open-sans",sans-serif  
	font-weight: 300
=med-font
	font-family: "open-sans",sans-serif
	font-weight: 600
=bold-font
	font-family: "open-sans",sans-serif
	font-weight: 700

=millis-reg
	font-family: "millisime",sans-serif
	font-weight: 400
=millis-ital
	font-family: "millisime",sans-serif
	font-weight: 400
	font-style: italic
=millis-bold
	font-family: "millisime",sans-serif
	font-weight: 700
=millis-bold-ital
	font-family: "millisime",sans-serif
	font-weight: 700
	font-style: italic

=gen_text
	+reg-font 
	line-height: 1.573em
	letter-spacing: .02em
	word-spacing: .07em	
	p
		margin-bottom: 1em

=smallSuperScript
	font-size: .3em
	display: inline-block
	vertical-align: top
	//padding-top: 15px
	padding-left: 10px

=lockup_h2
	margin-bottom: 22px
	line-height: 1

body, html
	margin: 0
	padding: 0
	font-family: freight
	font-weight: 200
	font-size: 17px
	color: $dark
	line-height: 1em
	+small
		font-size: 18px
	+gen_text

header, footer, p, a, ul, li, body, button, input, select, textarea 
	+gen_text 

h1, h2, h3
	line-height: 1em
	+millis-reg
h1
	//font-size: 68px
	font-size: 50px
	+small
		font-size: 36px

h2
	font-size: 1.7em
	+phabletdown
		font-size: 45px
	+small
		font-size: 30px
	&.showTitle
		font-size: 34px
		margin: 0px 0 5px 
		text-transform: uppercase
		+millis-bold 
h3
	
	font-size: 2.8em
	line-height: 1em 
h6 	
	+millis-bold 
	&.showTitle
		font-size: 38px
		margin: 0px 0 5px 
		text-transform: uppercase
		
ul
	margin: 0  
	padding: 0
	list-style: disc

li
	margin: 0
	padding: 0


// .copy, .intro
// 	+gen_text

a
	//color: $gold 
	text-decoration: none

p
	margin-bottom: 0

img 
	//display: block

input[type="text"],
textarea
	width: 100%

.col 
	float: left 
	&.col-2-3 
		width: 67% 
	&.col-1-3 
		width: 33% 
	+desktop 
		&.col-1-3, &.col-2-3 
			width: 100% 
